.frame{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 500px;
    width: 500px;
    border-radius: 69px;
    background: #ebebeb;
    box-shadow:  -24px 24px 50px #5a5a5a,
                 24px -24px 50px #fafafa;
    padding: 10px 10px;
}
.frame h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    background-clip: text;
}
.frame h2 {
    margin-top: -15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.frame h3 {
    margin-top: -15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
#profile {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 3px 3px 10px 0 #000000;
}
.frame p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.icon {
    width: 100px;
    height: 100px;
}