body {
    background-color: #535353;
}
.frame{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 500px;
    width: 500px;
    border-radius: 69px;
    background: #535353;
    box-shadow:  -24px 24px 50px #2b2b2b,
                 24px -24px 50px #4b4b4b;
    padding: 10px 10px;
}
.frame h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #FFF;
}
.frame h2 {
    margin-top: -15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #FFF;
}
.frame #profile {
    border-radius: 50%;
    margin-left: calc(50% - 100px);
    margin-right: auto;
    height: 200px;
    background: #535353;
    box-shadow:  -24px 24px 50px #2b2b2b,
                 24px -24px 50px #4b4b4b;
}
.frame p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #FFF;
}